<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Run cli</th>
      <th>Nom cli</th>
      <th>Apells cli</th>
      <th>Tel1 cli</th>
      <th>Tel2 cli</th>
      <th>Email cli</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.run_cli %></td>
        <td><%= client.nom_cli %></td>
        <td><%= client.apells_cli %></td>
        <td><%= client.tel1_cli %></td>
        <td><%= client.tel2_cli %></td>
        <td><%= client.email_cli %></td>
        <td><%= button_to 'Ver', client , :method => 'get', :class => 'btn btn-info'%></td>
        <td><%= button_to 'Editar', edit_client_path(client), :method => 'get', :class => 'btn btn-warning' %></td>
        <td><%= button_to 'Eliminar', client, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_client_path, :method => 'get', :class => 'btn btn-default' %>
