<h1>Listing enterprise_clients</h1>

<table>
  <thead>
    <tr>
      <th>Run cli</th>
      <th>Rut ent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprise_clients.each do |enterprise_client| %>
      <tr>
        <td><%= enterprise_client.run_cli %></td>
        <td><%= enterprise_client.rut_ent %></td>
        <td><%= link_to 'Show', enterprise_client %></td>
        <td><%= link_to 'Edit', edit_enterprise_client_path(enterprise_client) %></td>
        <td><%= link_to 'Destroy', enterprise_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterprise client', new_enterprise_client_path %>
