<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing enterprise_clients</h1>

  <table>
    <thead>
      <tr>
        <th>Run cli</th>
        <th>Rut ent</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @enterprise_clients.each do |enterprise_client| %>
        <tr>
          <td><%= enterprise_client.run_cli %></td>
          <td><%= enterprise_client.rut_ent %></td>
          <td><%= button_to 'Ver', enterprise_client, :method => 'get', :class => 'btn btn-info'%></td>
          <td><%= button_to 'Editar', edit_enterprise_client_path(enterprise_client), :method => 'get', :class => 'btn btn-warning' %></td>
          <td><%= button_to 'Eliminar', enterprise_client, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Nuevo', new_enterprise_client_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>