<% if user_signed_in? and current_user.tipo == 'administrador' %>

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Run cli:</strong>
	  <%= @enterprise_client.run_cli %>
	</p>

	<p>
	  <strong>Rut ent:</strong>
	  <%= @enterprise_client.rut_ent %>
	</p>

	<%= button_to 'Editar', edit_enterprise_client_path(@enterprise_client), :method => 'get', :class => 'btn btn-warning' %> |
	<%= button_to 'Volver', enterprise_clients_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>