<p id="notice"><%= notice %></p>

<p>
  <strong>Run cli:</strong>
  <%= @enterprise_client.run_cli %>
</p>

<p>
  <strong>Rut ent:</strong>
  <%= @enterprise_client.rut_ent %>
</p>

<%= link_to 'Edit', edit_enterprise_client_path(@enterprise_client) %> |
<%= link_to 'Back', enterprise_clients_path %>
