<p id="notice"><%= notice %></p>

<p>
  <strong>Rut ent:</strong>
  <%= @external_enterprise.rut_ent %>
</p>

<p>
  <strong>Giro emp:</strong>
  <%= @external_enterprise.giro_emp %>
</p>

<p>
  <strong>Nom emp:</strong>
  <%= @external_enterprise.nom_emp %>
</p>

<p>
  <strong>Dir emp:</strong>
  <%= @external_enterprise.dir_emp %>
</p>

<p>
  <strong>Tel1 emp:</strong>
  <%= @external_enterprise.tel1_emp %>
</p>

<p>
  <strong>Tel2 emp:</strong>
  <%= @external_enterprise.tel2_emp %>
</p>

<p>
  <strong>Email emp:</strong>
  <%= @external_enterprise.email_emp %>
</p>

<p>
  <strong>Est conv emp:</strong>
  <%= @external_enterprise.est_conv_emp %>
</p>

<p>
  <strong>Ini conv emp:</strong>
  <%= @external_enterprise.ini_conv_emp %>
</p>

<p>
  <strong>Fin conv emp:</strong>
  <%= @external_enterprise.fin_conv_emp %>
</p>

<p>
  <strong>Descrip conv emp:</strong>
  <%= @external_enterprise.descrip_conv_emp %>
</p>

<%= link_to 'Edit', edit_external_enterprise_path(@external_enterprise) %> |
<%= link_to 'Back', external_enterprises_path %>
