<h1>Dueños</h1>


<%@owners.each do |n| %>
<ul>

		<ul>
			<li><strong>Nombre: <%=n.nom_prop%></strong><br></li>
			<li><strong>Apellidos: <%=n.apells_prop%></strong><br></li>
			<li><strong>Telefono 1: <%=n.tel1_prop%></strong><br></li>
			<li><strong>Telefono 2: <%=n.tel2_prop%></strong><br></li>
			<li><strong>Email: <%=n.email_prop%></strong><br></li>
			



</ul>			
<%end%>



