<p id="notice"><%= notice %></p>

<p>
  <strong>Run own:</strong>
  <%= @owner.run_own %>
</p>

<p>
  <strong>Nom prop:</strong>
  <%= @owner.nom_prop %>
</p>

<p>
  <strong>Apells prop:</strong>
  <%= @owner.apells_prop %>
</p>

<p>
  <strong>Tel1 prop:</strong>
  <%= @owner.tel1_prop %>
</p>

<p>
  <strong>Tel2 prop:</strong>
  <%= @owner.tel2_prop %>
</p>

<p>
  <strong>Email prop:</strong>
  <%= @owner.email_prop %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
