<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :run_own %><br>
    <%= f.text_field :run_own %>
  </div>
  <div class="field">
    <%= f.label :pat_veh %><br>
    <%= f.text_field :pat_veh %>
  </div>
  <div class="field">
    <%= f.label :mar_veh %><br>
    <%= f.text_field :mar_veh %>
  </div>
  <div class="field">
    <%= f.label :model_veh %><br>
    <%= f.text_field :model_veh %>
  </div>
  <div class="field">
    <%= f.label :tipo_veh %><br>
    <%= f.text_field :tipo_veh %>
  </div>
  <div class="field">
    <%= f.label :km_sem_veh %><br>
    <%= f.number_field :km_sem_veh %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
