<h1>Listing vehicles</h1>

<table class="table">
  <thead>
    <tr>
      <th>RUN DUEÑO</th>
      <th>PATENTE VEHÍCULO</th>
      <th>MARCA VEHÍCULO</th>
      <th>MODELO VEHÍCULO</th>
      <th>TIPO VEHÍCULO</th>
      <th>KIL</th> <!--CREO QUE NO VA-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.run_own %></td>
        <td><%= vehicle.pat_veh %></td>
        <td><%= vehicle.mar_veh %></td>
        <td><%= vehicle.model_veh %></td>
        <td><%= vehicle.tipo_veh %></td>
        <td><%= vehicle.km_sem_veh %></td>
        <td><%= button_to 'Ver', vehicle , :method => 'get', :class => 'btn btn-info'%></td>
        <td><%= button_to 'Editar', edit_vehicle_path(vehicle), :method => 'get', :class => 'btn btn-warning' %></td>
        <td><%= button_to 'Eliminar', vehicle, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_vehicle_path , :method => 'get', :class => 'btn btn-default'%>
