<p id="notice"><%= notice %></p>

<p>
  <strong>Run own:</strong>
  <%= @vehicle.run_own %>
</p>

<p>
  <strong>Pat veh:</strong>
  <%= @vehicle.pat_veh %>
</p>

<p>
  <strong>Mar veh:</strong>
  <%= @vehicle.mar_veh %>
</p>

<p>
  <strong>Model veh:</strong>
  <%= @vehicle.model_veh %>
</p>

<p>
  <strong>Tipo veh:</strong>
  <%= @vehicle.tipo_veh %>
</p>

<p>
  <strong>Km sem veh:</strong>
  <%= @vehicle.km_sem_veh %>
</p>

<%= link_to 'Editar', edit_vehicle_path(@vehicle), :method => 'get', :class => 'btn btn-info' %> |
<%= link_to 'Volver', vehicles_path, :method => 'get', :class => 'btn btn-default' %>
