<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing natural_clients</h1>

  <table>
    <thead>
      <tr>
        <th>Run cli</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @natural_clients.each do |natural_client| %>
        <tr>
          <td><%= natural_client.run_cli %></td>
          <td><%= button_to 'Ver', natural_client , :method => 'get', :class => 'btn btn-info'%></td>
          <td><%= button_to 'Editar', edit_natural_client_path(natural_client) , :method => 'get', :class => 'btn btn-warning'%></td>
          <td><%= button_to 'Eliminar', natural_client, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Nuevo', new_natural_client_path , :method => 'get', :class => 'btn btn-default' %>

<% end %>