
  <h1>Listing drivers</h1>

  <table>
    <thead>
      <tr>
        <th>Run driv</th>
        <th>Nom cond</th>
        <th>Apells cond</th>
        <th>Tel1 cond</th>
        <th>Tel2 cond</th>
        <th>Email cond</th>
        <th>Venc licenc cond</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= driver.run_driv %></td>
          <td><%= driver.nom_cond %></td>
          <td><%= driver.apells_cond %></td>
          <td><%= driver.tel1_cond %></td>
          <td><%= driver.tel2_cond %></td>
          <td><%= driver.email_cond %></td>
          <td><%= driver.venc_licenc_cond %></td>
          <td><%= button_to 'Ver', driver, :method=>'get', :class=>'btn btn-primary' %></td>
          <td><%= link_to 'Editar', edit_driver_path(driver) %></td>
          <td><%= link_to 'Eliminar', driver, method: :delete, data: { confirm: '¿Confirma eliminación?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo', new_driver_path %>


