<p id="notice"><%= notice %></p>

<p>
  <strong>Run driv:</strong>
  <%= @driver.run_driv %>
</p>

<p>
  <strong>Nom cond:</strong>
  <%= @driver.nom_cond %>
</p>

<p>
  <strong>Apells cond:</strong>
  <%= @driver.apells_cond %>
</p>

<p>
  <strong>Tel1 cond:</strong>
  <%= @driver.tel1_cond %>
</p>

<p>
  <strong>Tel2 cond:</strong>
  <%= @driver.tel2_cond %>
</p>

<p>
  <strong>Email cond:</strong>
  <%= @driver.email_cond %>
</p>

<p>
  <strong>Venc licenc cond:</strong>
  <%= @driver.venc_licenc_cond %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
