<% if user_signed_in? and current_user.tipo == 'administrador' %>

<h1>Listing base_prices</h1>

<table>
  <thead>
    <tr>
      <th>Val base</th>
      <th>Ini val base</th>
      <th>Fin val base</th>
      <th>Estado val base</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @base_prices.each do |base_price| %>
      <tr>
        <td><%= base_price.val_base %></td>
        <td><%= base_price.ini_val_base %></td>
        <td><%= base_price.fin_val_base %></td>
        <td><%= base_price.estado_val_base %></td>
        <td><%= link_to 'Ver', base_price %></td>
        <td><%= link_to 'Editar', edit_base_price_path(base_price) %></td>
        <td><%= link_to 'Eliminar', base_price, method: :delete, data: { confirm: '¿Confirma eliminación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_base_price_path %>

<% end %>