<% if user_signed_in? and current_user.tipo == 'administrador' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Val base:</strong>
  <%= @base_price.val_base %>
</p>

<p>
  <strong>Ini val base:</strong>
  <%= @base_price.ini_val_base %>
</p>

<p>
  <strong>Fin val base:</strong>
  <%= @base_price.fin_val_base %>
</p>

<p>
  <strong>Estado val base:</strong>
  <%= @base_price.estado_val_base %>
</p>

<%= link_to 'Editar', edit_base_price_path(@base_price) %> |
<%= link_to 'Volver', base_prices_path %>

<% end %>