<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing owner_commissions</h1>

  <table>
    <thead>
      <tr>
        <th>Porcent comi prop</th>
        <th>Ini comi prop</th>
        <th>Fin comi prop</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @owner_commissions.each do |owner_commission| %>
        <tr>
          <td><%= owner_commission.porcent_comi_prop %></td>
          <td><%= owner_commission.ini_comi_prop %></td>
          <td><%= owner_commission.fin_comi_prop %></td>
          <td><%= link_to 'Ver', owner_commission %></td>
          <td><%= link_to 'Editar', edit_owner_commission_path(owner_commission) %></td>
          <td><%= link_to 'Eliminar', owner_commission, method: :delete, data: { confirm: 'A¿Confirma eliminación?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo', new_owner_commission_path %>

<% end %>