<p id="notice"><%= notice %></p>

<p>
  <strong>Porcent comi prop:</strong>
  <%= @owner_commission.porcent_comi_prop %>
</p>

<p>
  <strong>Ini comi prop:</strong>
  <%= @owner_commission.ini_comi_prop %>
</p>

<p>
  <strong>Fin comi prop:</strong>
  <%= @owner_commission.fin_comi_prop %>
</p>

<%= link_to 'Edit', edit_owner_commission_path(@owner_commission) %> |
<%= link_to 'Back', owner_commissions_path %>
