<h1>Listing scheduling_blocks</h1>

<table>
  <thead>
    <tr>
      <th>Ini bloq</th>
      <th>Fin bloq</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduling_blocks.each do |scheduling_block| %>
      <tr>
        <td><%= scheduling_block.ini_bloq %></td>
        <td><%= scheduling_block.fin_bloq %></td>
        <td><%= button_to 'Ver', scheduling_block , :method => 'get', :class => 'btn btn-info'%></td>
        <td><%= button_to 'Editar', edit_scheduling_block_path(scheduling_block)  , :method => 'get', :class => 'btn btn-warning'%></td>
        <td><%= button_to 'Eliminar', scheduling_block, method: :delete, data: { confirm: '¿Confirma eliminación?' } , :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_scheduling_block_path , :method => 'get', :class => 'btn btn-default'%>
