<h1>Listing schedulings</h1>

<table>
  <thead>
    <tr>
      <th>Id off veh</th>
      <th>Run driv</th>
      <th>Run cli</th>
      <th>Cli run cli</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.id_off_veh %></td>
        <td><%= scheduling.run_driv %></td>
        <td><%= scheduling.run_cli %></td>
        <td><%= scheduling.cli_run_cli %></td>
        <td><%= link_to 'Ver', scheduling %></td>
        <td><%= link_to 'Editar', edit_scheduling_path(scheduling) %></td>
        <td><%= link_to 'Eliminar', scheduling, method: :delete, data: { confirm: '¿Confirma eliminación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_scheduling_path %>
