<h1>Listing states</h1>

<table>
  <thead>
    <tr>
      <th>Nom est</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.nom_est %></td>
        <td><%= button_to 'Ver', state , :method => 'get', :class => 'btn btn-info'%></td>
        <td><%= button_to 'Editar', edit_state_path(state) , :method => 'get', :class => 'btn btn-warning'%></td>
        <td><%= button_to 'Eliminar', state, method: :delete, data: { confirm: '¿Confirma eliminación?' } , :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_state_path  , :method => 'get', :class => 'btn btn-default'%>
