<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing comunnes</h1>

  <table>
    <thead>
      <tr>
        <th>Nom comun</th>
        <th>Num comun</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @comunnes.each do |comunne| %>
        <tr>
          <td><%= comunne.nom_comun %></td>
          <td><%= comunne.num_comun %></td>
          <td><%= link_to 'Ver', comunne %></td>
          <td><%= link_to 'Editar', edit_comunne_path(comunne) %></td>
          <td><%= link_to 'Eliminar', comunne, method: :delete, data: { confirm: '¿Confirma eliminación?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo', new_comunne_path %>

<% end %>