<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing comunnes</h1>

  <table>
    <thead>
      <tr>
        <th>Nom comun</th>
        <th>Num comun</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @comunnes.each do |comunne| %>
        <tr>
          <td><%= comunne.nom_comun %></td>
          <td><%= comunne.num_comun %></td>
          <td><%= button_to 'Ver', comunne, :method => 'get', :class => 'btn btn-info' %></td>
          <td><%= button_to 'Editar', edit_comunne_path(comunne), :method => 'get', :class => 'btn btn-warning' %></td>
          <td><%= button_to 'Eliminar', comunne, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Nuevo', new_comunne_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>