<p id="notice"><%= notice %></p>

<p>
  <strong>Id bill:</strong>
  <%= @bill_detail.id_bill %>
</p>

<p>
  <strong>Id conc:</strong>
  <%= @bill_detail.id_conc %>
</p>

<p>
  <strong>Monto det fact:</strong>
  <%= @bill_detail.monto_det_fact %>
</p>

<%= link_to 'Edit', edit_bill_detail_path(@bill_detail) %> |
<%= link_to 'Back', bill_details_path %>
