<h1>Listing state_histories</h1>

<table>
  <thead>
    <tr>
      <th>Id trav</th>
      <th>Id stat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @state_histories.each do |state_history| %>
      <tr>
        <td><%= state_history.id_trav %></td>
        <td><%= state_history.id_stat %></td>
        <td><%= link_to 'Show', state_history %></td>
        <td><%= link_to 'Editar', edit_state_history_path(state_history) %></td>
        <td><%= link_to 'Eliminar', state_history, method: :delete, data: { confirm: '¿Confirma eliminación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_state_history_path %>
