<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rut_ent %><br>
    <%= f.text_field :rut_ent %>
  </div>
  <div class="field">
    <%= f.label :fecha_fact %><br>
    <%= f.date_select :fecha_fact %>
  </div>
  <div class="field">
    <%= f.label :total_fact %><br>
    <%= f.number_field :total_fact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
