<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listing technical_review_alerts</h1>

  <table>
    <thead>
      <tr>
        <th>Plant alert rev tec</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @technical_review_alerts.each do |technical_review_alert| %>
        <tr>
          <td><%= technical_review_alert.plant_alert_rev_tec %></td>
          <td><%= link_to 'Ver', technical_review_alert %></td>
          <td><%= link_to 'Editar', edit_technical_review_alert_path(technical_review_alert) %></td>
          <td><%= link_to 'Eliminar', technical_review_alert, method: :delete, data: { confirm: '¿Confirma eliminación??' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo', new_technical_review_alert_path %>

<% end %>