<p id="notice"><%= notice %></p>

<p>
  <strong>Run cli:</strong>
  <%= @travel_request.run_cli %>
</p>

<p>
  <strong>Dir orig sol:</strong>
  <%= @travel_request.dir_orig_sol %>
</p>

<p>
  <strong>Dir dest sol:</strong>
  <%= @travel_request.dir_dest_sol %>
</p>

<p>
  <strong>Com orig sol:</strong>
  <%= @travel_request.com_orig_sol %>
</p>

<p>
  <strong>Com dest sol:</strong>
  <%= @travel_request.com_dest_sol %>
</p>

<p>
  <strong>Cant pasaj sol:</strong>
  <%= @travel_request.cant_pasaj_sol %>
</p>

<p>
  <strong>Fecha crea sol:</strong>
  <%= @travel_request.fecha_crea_sol %>
</p>

<p>
  <strong>Fecha serv sol:</strong>
  <%= @travel_request.fecha_serv_sol %>
</p>

<p>
  <strong>Est sol:</strong>
  <%= @travel_request.est_sol %>
</p>

<%= button_to 'Editar', edit_travel_request_path(@travel_request) , :method => 'get', :class => 'btn btn-warning' %> |
<%= button_to 'Volver', travel_requests_path , :method => 'get', :class => 'btn btn-default'%>
